* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.wrapper-coponents {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.title-heading {
  font-family: "Krub", "sans-serif";
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  padding: 2em;
}

.tekst-box {
  font-family: "Roboto", "sans-serif";
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;
}

.sub-title {
  font-family: "Krub", "sans-serif";
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.45rem;
}

.burger-btn {
  position: fixed;
  background: transparent;
  border: none;
  top: calc(0% + 25px);
  left: 80%;
  z-index: 1000;
}

.burger-btn__tools {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  color: black;
  border-radius: 15px 0px 15px;
  padding: 0.5rem;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
}

.burger-btn__tools:hover {
  background-color: #009581;
  color: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  min-height: 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#faf5f5), color-stop(#009581), to(#004759));
  background-image: linear-gradient(to bottom, #faf5f5, #009581, #004759);
  background-repeat: no-repeat;
  z-index: 15;
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.header--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header--activeBgc {
  background-color: #5fbeb7;
  -webkit-box-shadow: 0 3px 20px rgba(0, 71, 89, 0.4);
          box-shadow: 0 3px 20px rgba(0, 71, 89, 0.4);
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 290px;
  margin: auto;
}

.header__img {
  height: 50px;
  width: 50px;
  background-image: url(../img/backgroundmini.svg);
  background-repeat: no-repeat;
}

.header__title {
  font-size: 2.5em;
  font-family: "Krub", "sans-serif";
  color: #004759;
  text-shadow: 2px 3px 4px white;
  letter-spacing: 2px;
}

.header__navigation {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 45%;
  margin-right: 5vw;
}

.header__main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.75rem;
}

.header__list {
  position: relative;
  margin: 1.9rem;
}

.header__list--border {
  padding: 4px 10px;
  border: 1px solid tomato;
  border-radius: 50px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.header__list--border:hover {
  background-color: tomato;
}

.header__item {
  font-family: "Krub", "sans-serif";
  font-size: 1.2rem;
  padding: 0 2px;
  text-transform: uppercase;
  color: white;
}

.header__item--border::before, .header__item--border::after {
  content: "";
  position: absolute;
  bottom: -0.2em;
  width: 0;
  border-bottom: 1px solid white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__item--border::before {
  right: 50%;
}

.header__item--border::after {
  left: 50%;
}

.header__item--border:hover::before, .header__item--border:hover::after {
  width: 50%;
  cursor: pointer;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  background: url("../img/jdproff_logo.png") center no-repeat;
  background-size: 30vmax;
  background-attachment: fixed;
}

.main__bgfilter {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(9, 230, 201, 0.4);
  z-index: 10;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.main__video {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__text-container {
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #004759;
  max-width: 700px;
}

.main__text {
  font-family: "Krub", "sans-serif";
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: start;
  padding-left: 1em;
  color: whitesmoke;
}

.main__sub-text {
  font-family: "Roboto", "sans-serif";
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 1.5rem;
  color: whitesmoke;
}

.top__first-img {
  background-image: url("../img/kitchen-2165756_1920.jpg");
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.top__box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.top__img {
  height: 400px;
  width: 250px;
  margin: auto;
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle__about-text {
  padding: 2em;
}

.middle__title {
  font-family: "Krub", "sans-serif";
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.middle__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  width: 100%;
}

.middle__hammer, .middle__toolbox, .middle__roller {
  font-size: 1.5rem;
  padding: 0.3em;
  background-image: radial-gradient(circle, #09e6c8, #009581, #004759);
  background-repeat: no-repeat;
  color: white;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.61);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.61);
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.middle__roller {
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.middle .fas:hover {
  background-image: radial-gradient(rgba(9, 230, 200, 0.5), rgba(9, 230, 200, 0.75), #09e6c8);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 2px solid #004759;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 149, 129, 0.61);
          box-shadow: 1px 1px 10px rgba(0, 149, 129, 0.61);
}

.bgc-overlay {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../img/photo/inne/pexels-cal-david-735319.jpg) center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/photo/inne/pexels-cal-david-735319.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-clip-path: ellipse(200px 200px 200px);
          clip-path: ellipse(200px 200px 200px);
}

.bgc-overlay__title {
  position: absolute;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.steps__timeline {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.steps__container-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.steps__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps__timeline-item {
  padding: 1em;
  text-align: center;
}

.steps__timeline-icon {
  font-size: 1.5rem;
  padding: 0.3em;
  background-image: radial-gradient(circle, #09e6c8, #009581, #004759);
  background-repeat: no-repeat;
  color: white;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.61);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.61);
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
  padding: 0.4em;
  margin: 1em;
}

.steps__timeline-icon--active {
  background-image: radial-gradient(rgba(9, 230, 200, 0.5), rgba(9, 230, 200, 0.75), #09e6c8);
  border: 1px solid #004759;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 149, 129, 0.6);
          box-shadow: 1px 1px 10px rgba(0, 149, 129, 0.6);
}

.steps__timeline-icon .fas,
.steps__timeline-icon .far {
  pointer-events: none;
}

.steps__subtitle {
  display: none;
  width: auto;
  padding: 0.2em 0.4em;
  font-family: "Krub", "sans-serif";
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #09e6c8;
}

.steps__subtitle-Mobile {
  display: inline-block;
  font-family: "Krub", "sans-serif";
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.2em 0.5em;
  margin-bottom: 1em;
  background: #09e6c8;
}

.steps__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps__container-word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1.5px solid #09e6c8;
  border-radius: 0.5em;
  padding: 1em;
  margin: 1em 0.5em;
  background-color: #09e6c863;
}

.steps__word[data-tab-content] {
  display: none;
}

.steps__word--active[data-tab-content] {
  display: block;
  -webkit-animation-name: content;
          animation-name: content;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  line-height: 1.4;
}

@-webkit-keyframes content {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes content {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.steps__text-paragraf {
  font-family: "Roboto", "sans-serif";
  max-width: 800px;
  margin: auto;
  text-align: center;
  line-height: 1.5;
  font-size: 1rem;
  color: whitesmoke;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

.gallery__serv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 10px 10px;
}

.gallery__services {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  height: calc(100px * 1.4);
  max-width: calc(250px / 2);
  margin: 2px;
  position: relative;
  text-align: center;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  cursor: pointer;
}

.gallery__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
  font-size: 1.2rem;
  -webkit-transition: opacity .035s;
  transition: opacity .035s;
  text-shadow: 2px 2px 2px black;
}

.gallery::after, .gallery::before, .gallery__img {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -5;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -o-object-position: center;
     object-position: center;
}

.gallery__services:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 10;
  overflow: hidden;
}

.gallery__services::before, .gallery__services::after {
  content: '';
  position: absolute;
  opacity: 0.4;
  width: 350px;
  height: 40px;
  background-color: white;
  top: -100px;
  left: 0;
  z-index: 2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 1.3s;
  transition: -webkit-transform 1.3s;
  transition: transform 1.3s;
  transition: transform 1.3s, -webkit-transform 1.3s;
}

.gallery__services:hover::before {
  -webkit-transform: translate(-100px, 600px) rotate(45deg);
          transform: translate(-100px, 600px) rotate(45deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.contact {
  background-color: rgba(9, 230, 200, 0.5);
}

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.contact__box {
  height: 40vh;
  background-color: #004759cc;
  padding: 1em 2em;
  margin: 2em;
  border-radius: 5px;
}

.contact__lefttitle {
  font-size: 1.7rem;
}

.contact__information {
  color: white;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact__subinformation {
  padding: 2em 1em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: white;
  font-size: 1rem;
}

.contact__form, .contact__form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", "sans-serif";
}

.contact__form {
  padding: 4em;
  background-color: #00958199;
  border-radius: 5px;
  margin: 0 0 100px 50px;
}

.contact__form-label {
  margin: 0.5em;
  text-transform: uppercase;
}

.contact__form-input {
  margin-bottom: 2em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
}

.contact__form-textarea {
  margin-bottom: 2em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
}

.contact__form-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0.5em 2.5em;
  text-transform: uppercase;
  font-family: "Krub", "sans-serif";
  color: whitesmoke;
  background-color: #004759;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
}

.footer {
  background-color: #027061;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 auto;
          flex: 2 0 auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1em 2em;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  color: whitesmoke;
  font-family: "Roboto", "sans-serif";
  letter-spacing: 1px;
  font-size: 0.8em;
}

.box-author {
  padding: 20px 0;
  height: 5vh;
  background-color: #004759;
}

.box-author__createdby {
  text-align: center;
  color: whitesmoke;
}

@media (min-width: 520px) {
  .bgc-overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 690px) {
  .gallery__services {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px;
    height: calc(125px * 1.5);
    max-width: 100%;
  }
  .steps__subtitle {
    display: block;
  }
  .steps__subtitle-Mobile {
    display: none;
  }
}

@media (min-width: 765px) {
  .burger-btn__tools {
    display: none;
  }
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent));
    background-image: linear-gradient(transparent);
  }
  .header__navigation {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .header__list {
    margin: 0;
  }
  .header__main-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__logo {
    margin: 1em auto 0 5em;
  }
  .top__box-img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .top__img {
    margin: auto 40px auto 20px;
  }
}

@media (min-width: 1024px) {
  .middle__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .middle__box {
    width: 25%;
  }
  .gallery {
    padding: 30px;
  }
  .gallery__services {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
    height: calc(125px * 2);
    max-width: calc(600px / 2.5);
  }
  .gallery__serv:nth-of-type(3), .gallery__serv:nth-of-type(5) {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .gallery__serv:nth-of-type(2), .gallery__serv:nth-of-type(4) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
/*# sourceMappingURL=style.css.map */