$FontSizeTitle: 2rem;
$FontSizeSubTitle: 1.5rem;
$FontSizeWord: 1.25rem;
$FontSizeIcon: 1.8rem;
$WordColor : rgb(0, 0, 0);
$FontFamilyWord: "Roboto",
"sans-serif";
$FontFamilyTitle: "Krub",
"sans-serif";