// CZCIONKA
// font-family: 'Cinzel',
// serif;
// font-family: 'Roboto',
// sans-serif;


// Ikonki fontów
// <i class="fas fa-tools"></i> <-- narzędzia
// <i class="fas fa-phone-alt"></i> <-- kontakt
// <i class="fas fa-dollar-sign"></i> <-- koszt usługi
// <i class="fas fa-home"></i> <-- home, dom, powrót, głowna strona
// <i class="fas fa-paint-roller"></i> <-- malowanie
// <i class="fas fa-hammer"></i> <-- młotek
// <i class="fas fa-toolbox"></i> <--sprzęt ? 
// <i class="far fa-lightbulb"></i> instalowanie/montaż
// <i class="fas fa-drafting-compass"></i> - cyrkiel
// <i class="fas fa-chair"></i> mebel



// zmieniam top middle bottom na


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    // font-size: 62.5%;
}

@import "./fontsAndColors";
@import "./mixins";
@import "./components";



.burger-btn {
    position: fixed;
    background: transparent;
    border: none;
    top: calc(0% + 25px);
    left: 80%;
    z-index: 1000;

    // &:focus {
    //     outline: none;
    // }

    &__tools {
        display: block;
        font-size: $FontSizeIcon;
        text-align: center;
        color: black;
        border-radius: 15px 0px 15px;
        padding: 0.5rem;
        transition: background-color .3s, color .3s;

        &:hover {
            background-color: #009581;
            color: white;
        }
    }

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    min-height: 60px;
    background-image: linear-gradient(to bottom, #faf5f5, #009581, #004759);
    background-repeat: no-repeat;
    z-index: 15;
    transition: .5s cubic-bezier(0.65, 0.05, 0.36, 1);

    &--active {
        transform: translateX(0);
    }

    &__logo {
        display: flex;
        align-items: center;
        flex-grow: 1;
        max-width: 290px;
        margin: auto;

    }

    &__img {
        height: 50px;
        width: 50px;
        background-image: url(../img/backgroundmini.svg);
        background-repeat: no-repeat;
    }

    &__title {
        font-size: 2.5em;
        font-family: $FontFamilyTitle;
        margin: 0 2em 0.2em 0;
        color: #004759;
        text-shadow: 2px 3px 4px white;
        letter-spacing: 2px;

    }

    &__navigation {
        flex-grow: 2;
        width: 45%;
        margin-right: 5vw;
    }


    &__main-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.75rem;

    }

    &__list {
        position: relative;
        margin: 1.9rem;

        &--border {
            padding: 4px 10px;
            border: 1px solid tomato;
            border-radius: 50px;
            transition: background-color .3s;
        }

        &--border:hover {
            background-color: tomato;
        }
    }

    &__item {
        font-family: $FontFamilyTitle;
        font-size: $FontSizeWord;
        padding: 0 2px;
        text-transform: uppercase;
        color: white;

        &--border::before,
        &--border::after {
            content: "";
            position: absolute;
            bottom: -0.5rem;
            width: 0;
            border-bottom: 1px solid white;
            transition: all 0.2s ease-in-out;
        }

        &--border::before {
            right: 50%;
        }

        &--border::after {
            left: 50%;
        }

        &--border:hover::before,
        &--border:hover::after {
            width: 50%;
            cursor: pointer;
        }
    }
}


.active {
    display: flex;
}

.wrapper {
    background: url("../img/jdproff_logo.png") center no-repeat;
    background-size: 30vmax;
    background-attachment: fixed;
}

.main {

    &__bgfilter {
        width: 100vw;
        height: 100vh;
        // position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(9, 230, 201, 0.40);
        z-index: 10;
    }

    &__container {
        display: flex;
        align-items: center;
        // position: relative;
        height: 100vh;
        width: 100%;

        &::after {
            content: "";
            bottom: 0;
            position: absolute;
            height: 40px;
            width: 60%;
            left: -50px;
            background: white;
            transform: skew(45deg);
            z-index: 15;
        }
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100vh;
        max-height: 100vh;
        width: 100%;
        z-index: 0;
        object-fit: cover;

    }

    &__text-container {
        position: absolute;
        z-index: 10;
        @include MainText;
        background: #004759;
        max-width: 700px;
    }

    &__text {
        font-family: $FontFamilyTitle;
        text-align: start;
        text-transform: uppercase;
        padding: 0.3em;
        color: white;
    }

    &__sub-text {
        @include roboto;
        margin: 0;
        width: 100%;
        font-size: $FontSizeWord +0.3rem;
        color: white;
        ;
    }

}

.title-heading {
    @include cinzel;
}

.top {
    &__first-img {
        @include HeroImg("../img/kitchen-2165756_1920.jpg");
    }

    &__box-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    &__img {
        height: 400px;
        width: 250px;
        margin: auto;
    }

    &__text {
        padding: 1.5em;
        @include roboto;
    }
}



.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // margin: auto;
    // max-width: 1200px;

    &__about-text {
        margin: 4em 2em;
    }

    &__text {
        @include roboto;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }

    &__box {
        font-family: $FontFamilyTitle;
        width: 100%;
        text-align: center;
    }

    &__subtitle {
        font-size: $FontSizeSubTitle;
        color: rgba(0, 0, 0, 0.822);
        margin-bottom: 10px;
    }

    &__list {
        color: rgba(0, 0, 0, 1);
        font-size: $FontSizeWord;
        padding: 20px;
    }


    &__hammer,
    &__toolbox,
    &__roller {
        @include FontsIcon;
        transition: transform .3s ease-in-out;
    }

    &__roller {
        transform: rotate(-25deg);
    }

    .fas:hover {
        background-image: radial-gradient(rgba(9, 230, 200, 0.5), rgba(9, 230, 200, 0.75), rgb(9, 230, 200));
        transform: scale(1.1);
        border: 2px solid rgb(0, 71, 89);
        box-shadow: 1px 1px 10px rgba(0, 149, 129, 0.61);
    }
}

.bottom {
    &__text {
        @include roboto;
        padding: 5em;
    }
}

.bgc-overlay {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/photo/inne/pexels-cal-david-735319.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 0px 10px black;
    clip-path: ellipse(200px 200px 200px);




    &__title {
        position: absolute;
        @include cinzel;
        font-size: $FontSizeTitle - 0.4rem;
    }

}

.steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &__title {
        margin: auto;
        font-family: "Krub",
            "sans-serif";
        font-size: 1em;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        color: black;
    }

    &__text-header {
        font-size: 2em;
        padding: 2em;
    }

    &__timeline {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    &__timeline-item {
        padding: 1em;
        text-align: center;
        width: 20%;
    }

    &__timeline-icon {
        background-image: radial-gradient(circle, #09e6c8, #009581, #004759);
        background-repeat: no-repeat;
        color: white;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
        border: 2px solid rgba(44, 44, 44, 0.637);
        border-radius: 50%;
        font-size: 1.6em;
        padding: 0.4em;
        margin: 1em;

        .fas,
        .far {
            pointer-events: none;
        }

    }

    &__subtitle {

        opacity: 0;
        width: auto;
        margin: 2.5em 0;
        padding: 0.25em 0;
        font-family: "Krub",
            "sans-serif";
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: #09e6c8;
        transition: all .3s;

        &--active {
            opacity: 1;
        }

    }

    &__content {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    &__word {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        border: 1.5px solid #09e6c8;
        border-radius: 0.5em;
        padding: 1em;
        margin: 1em 0.5em;
        background-color: #09e6c863;
    }

    &__text-paragraf {
        font-family: "Roboto",
            "sans-serif";
        max-width: 800px;
        margin: auto;
        text-align: center;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.616);
        font-size: 1rem;
        color: whitesmoke;
    }
}

.details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1.5px solid rgb(9, 230, 200);
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em 0;
    background-color: #09e6c863;


    &__title {
        @include cinzel;
        font-size: $FontSizeTitle - 1rem;
        color: rgb(0, 0, 0);
    }

    &__text {
        @include roboto;
        font-size: $FontSizeWord - 0.2rem;
        color: whitesmoke;
    }
}



.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;


    &__serv {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 10px 10px;
    }

    &__services {
        flex: 0 0 150px;
        height: calc(100px * 1.4);
        max-width: calc(250px / 2);
        margin: 2px;
        position: relative;
        text-align: center;
        z-index: 2;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        cursor: pointer;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 60%;
        margin: 0 auto;
        text-transform: uppercase;
        color: white;
        font-family: sans-serif;
        font-size: $FontSizeWord;
        transition: opacity .035s;
        text-shadow: 2px 2px 2px black;
    }

    &::after,
    &::before,

    &__img {
        position: absolute;
        top: 0%;
        width: 100%;
        height: 100%;
        display: block;
        z-index: -5;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        object-position: center;
    }

    &__services:hover {
        opacity: 1;
        transition: all 0.3s ease-in-out;
        transform: scale(1.2);
        z-index: 10;
        overflow: hidden;
    }

    &__services::before,
    &__services::after {
        content: '';
        position: absolute;
        opacity: 0.4;
        width: 350px;
        height: 40px;
        background-color: white;
        top: -100px;
        left: 0;
        z-index: 2;
        transform: rotate(45deg);
        transition: transform 1.3s;
    }

    &__services:hover::before {
        transform: translate(-100px, 600px) rotate(45deg);
        transition: transform 0.5s;
    }
}


// /CONTACT/ 
.contact {
    // position: relative;
    background-color: rgba(9, 230, 200, .5);

    &__wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }



    &__form,
    &__form-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__form {
        padding: 4em;
    }

    &__form-label {
        margin: 0.5em;
        text-transform: uppercase;
    }

    &__form-input {
        @include ContactForm;
    }

    &__form-textarea {
        @include ContactForm;
        max-width: 100%;
        min-width: 100%;
        min-height: 150px;
    }

    &__form-btn {
        align-self: flex-end;
        padding: 0.5em 2.5em;
        text-transform: uppercase;
        font-family: $FontFamilyTitle;
        color: whitesmoke;
        background-color: #004759;
        border: none;
        border-radius: 8px;
        font-size: 1em;
        cursor: pointer;
    }
}


// MEDIAAAAA !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

@media (min-width:520px) {
    .main {

        &__text {
            font-size: $FontSizeTitle + 1rem;
        }

        &__sub-text {
            font-size: $FontSizeWord + 0.5rem;
            padding: 1em;
        }

    }

}

@media (min-width:690px) {
    .main {
        &__text {
            max-width: 40%;
            padding: 10px 20px;
        }
    }

    .middle {
        // &__article {
        //     box-shadow: 2px 4px 5px #004759;
        //     border: 1px solid black;
        //     border-radius: 5px;
        // }


        &__subtitle {
            font-size: $FontSizeSubTitle;
            color: rgba(0, 0, 0, 0.822);
            margin-bottom: 15px;
        }

    }

    .gallery__services {
        flex: 0 0 170px;
        height: calc(125px * 1.5);
        max-width: 100%;

    }

}



@media(min-width:765px) {


    .burger-btn {
        &__tools {
            display: none;
        }
    }

    .header {
        flex-direction: row;
        height: auto;
        transform: translateX(0);
        background-image: linear-gradient(transparent);

        &__navigation {
            flex-grow: 0;
        }

        &__list {
            margin: 0;
        }

        &__main-menu {
            flex-direction: row;
        }

    }

    .header__logo {
        margin: 1em auto 0 5em;

    }

    .top__box-img {
        flex-direction: row;
        padding: 8em 0;
    }

    .top__img {
        margin: auto 40px auto 20px;
    }

}

@media (min-width:1024px) {


    .top {
        &__title {
            font-size: $FontSizeTitle + 0.1rem;
        }

        &__img {
            margin: auto 50px auto 100px;
        }

        &__text {
            font-size: $FontSizeWord + .2rem;
            margin: auto auto auto 50px;
        }
    }

    .middle {
        &__container {
            flex-direction: row;
        }

        &__box {
            width: 25%;
        }

        &__subtitle {
            font-size: $FontSizeSubTitle;
            color: rgba(0, 0, 0, 0.822);
            margin-bottom: 15px;
        }

    }
    .gallery {
        padding: 30px;

        &__services {
            flex: 0 1 300px;
            height: calc(125px * 2);
            max-width: calc(600px / 2.5);
        }

        &__serv {

            &:nth-of-type(3),
            &:nth-of-type(5) {
                justify-content: flex-start;
            }

            &:nth-of-type(2),
            &:nth-of-type(4) {
                justify-content: flex-end;
            }
        }
    }

}

@media (min-width:1200px) {
    .bgc-overlay {

        &__title {
            font-size: $FontSizeTitle - 0.4rem;
        }

    }
}